body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    max-width: 80%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for messages */
}

.friend-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff; /* Text color */
    background-color: #323f4b; /* Background color for heading */
    padding: 5px;
    border-radius: 10px;
}

.chat-message .message {
    padding: 8px;
    border-radius: 20px;
    color: #ffffff; /* Text color */
}

.kavitha .message {
    background-color: #47a3f3;
    align-self: flex-start;
}

.banu .message {
    background-color: #52606d;
    align-self: flex-end;
    border: 1px solid #ececec;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
    align-self: flex-end;
}

.kavitha
