body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #f7ecec;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #323f4b;
}

.card-description {
    font-size: 1em;
    color: #52606d;
    margin-bottom: 20px;
}

.card-price {
    font-size: 1.2em;
    color: #47a3f3;
    margin-bottom
